@import url('assets/signin-form.scss');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


/* Reset default browser CSS.
-------------------------------------------------------------- */
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

* {
border:0;
margin:0;
padding:0;
-webkit-touch-callout: none;
-webkit-tap-highlight-color:transparent;
}

label {
color:inherit;
}

body {
line-height:1.1;
width:100vw;
height:100vh;
font-family:open_sanslight;
overflow:hidden;
padding:0;
margin:0;

}

a {
text-decoration:none;
color: inherit;
}

a img{
border:none;
outline:none;
}

.main-color-font {
color:#2B2B2B!important;
}

.main-color-background {
background-color:#2B2B2B!important;
}

.main-color-background-lite-1 {
background-color:rgba(43,43,43,0.75)!important;
}

.main-color-background-lite-2 {
background-color:rgba(43,43,43,0.85)!important;
}

.main-color-background-lite-3 {
background-color:#4B4B4B!important;
}

.main-color-border {
border-color:#2B2B2B!important;
}


/***************************** OVERLAY ****************************/

.full-overlay {
position:fixed;
top:0px;
right:0px;
width:100vw;
height:100vh;
min-height:600px;
min-width:1000px;
}

.alert-overlay {
position:fixed;
top:0px;
right:0px;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
z-index:99999;
display:none;
}

/***************************** ANIMATIONS ****************************/

@-webkit-keyframes side-pan {
  0% {background-position: left center;}
50% {background-position: right center;}
100% {background-position: left center;}
}

@-webkit-keyframes pulse {
  0%   {opacity: 1.0;}
  50%  {opacity: 0;}
  100% {opacity:1.0}
}

@-webkit-keyframes pulse2 {
  0%   {opacity: 1.0;}
  50%  {opacity: 0.7;}
  100% {opacity:1.0}
}

@-webkit-keyframes pulse3 {
  0%   {opacity: 1.0;}
  50%  {opacity: 0.25;}
  100% {opacity:1.0}
}

.pulse1 {
-webkit-animation-name: pulse;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count:infinite;
}


.pulse-3s {
-webkit-animation-name: pulse2;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count:infinite;
}

.pulse-3s-2 {
-webkit-animation-name: pulse3;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count:infinite;
}

.pulse-5s {
-webkit-animation-name: pulse2;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count:infinite;
}

/***************************** CUSTOM ELEMENTS ****************************/


.version-number {

  padding-left:5px;
  color:#666;
  font-size:12px;
}

.go-premium {
width:100%;
background:orange;
color:white;
font-size:16px;
box-sizing:border-box;
padding:10px;
text-align:left;
margin-bottom:10px;
display:none;

}



blackline {
display:block;
width:100%;
height:1px;
border-bottom:1px solid black;
margin:10px auto;
}

whiteline {
display:block;
width:100%;
height:1px;
border-bottom:1px solid white;
margin:10px auto;
}


greyline {
display:block;
width:100%;
height:1px;
border-bottom:1px solid #ccc;
margin:10px auto;
}


blueline {
display:block;
width:100%;
height:1px;
border-bottom:2px solid #4293c4;
margin:10px auto;
}

champline {
display:block;
width:100%;
height:1px;
border-bottom:2px solid #2B2B2B;
margin:10px auto;
}

.button-tr {
float:right;
height:30px;
padding:0px 10px;
font-size:14px;
margin-top:20px;
border:1px solid #2b2b2b;
line-height:30px;
background:transparent;
font-family:open_sanslight;
color:#2b2b2b;
border-radius:0px;
}

.button-wysiwyg {
height:24px;line-height:24px;color:black;border:1px solid black;padding-left:5px;padding-right:5px;margin-right:5px;padding-top:0px;padding-bottom:0px;cursor:pointer;width:200px;
}


.btn {
 -webkit-user-select: none;
}

.btn:active {
//opacity:0.75;
}

.cn {
display:none;
font-size:16px;
}
/***************************** MAIN CONTAINERS ****************************/

.main-container {
position:fixed;
top:0px;
left:0px;
width:100vw;
height:100vh;
z-index:1;
overflow:hidden;
background:#333;
min-height:600px;
min-width:1000px;
}

.main-container .left-panel {
position:absolute;
top:0px;
left:0px;
height:100%;
width:50%;
overflow:hidden;
-webkit-transition:width 0.5s ease-in;
background:#333;
}

.main-container .right-panel {
position:absolute;
top:0px;
right:0px;
height:100%;
width:50%;
overflow:hidden;
-webkit-transition:width 0.5s ease-in;
background:white;
}

.right-panel .top-bar{
position:absolute;
top:0px;
left:0px;
height:40px;
width:100%;
overflow:hidden;
background:white;
z-index:10;
}

.right-panel .top-bar .logout-button {
   position: absolute;
   top:0px;
   right:0px;
   height: 40px;
   width:120px;
   padding: 0px 10px;
   line-height: 40px;
   color: black;
   box-sizing: border-box;
   border-left:1px solid #eee;
   cursor: pointer;
   text-align: center;
   font-size:14px;
   font-family: open_sanssemibold;
 }

 .right-panel .top-bar .connection-button {
   display: none;
   position: absolute;
   top:0px;
   right:120px;
   height: 40px;
   width:120px;
   padding: 0px 10px;
   line-height: 40px;
   color: black;
   box-sizing: border-box;
   border-left:1px solid #eee;
   cursor: pointer;
   text-align: center;
   font-size:14px;
   font-family: open_sanssemibold;
 }

 .right-panel .top-bar .connection-button.online {

   color: black;
   background-color:white;
 }

 .right-panel .top-bar .connection-button.offline {

   color: white;
   background-color:orange;
 }

 .right-panel .top-bar .connection-button.online .online-status{
   display: inline;
 }

 .right-panel .top-bar .connection-button.offline  .online-status{
   display:none;
 }

 .right-panel .top-bar .connection-button.online .offline-status{
   display: none;
 }

 .right-panel .top-bar .connection-button.offline  .offline-status{
   display:inline;
 }

.right-panel .top-bar .trial-status {
   position: absolute;
   top:0px;
   left:0px;
   height: 40px;
   width:calc(100% - 240px);
   padding: 0px 10px;
   line-height: 40px;
   color: white;
   box-sizing: border-box;
   border-right:1px solid #eee;
   border-left:1px solid white;
   display: none;
   text-align: center;
   font-size:14px;
   letter-spacing:3px;
   font-family:open_sansregular;
   background:orange;
   text-transform: uppercase;


}

 .right-panel .top-bar .network-button.offline {
   position: absolute;
   top:0px;
   left:0px;
   height: 40px;
   width:200px;
   padding: 0px 10px;
   line-height: 40px;
   color: white;
   box-sizing: border-box;
   border-right:1px solid #eee;
   cursor: pointer;
   text-align: center;
   font-size:16px;
  background:orange;

 }




.background-container {
//background-image:url();
background-position:left center;
background-repeat:none;
background-size:cover;
width:100%;
height:100%;
height: 100vh;
width: 50vw !important;
animation: mymove 45s infinite;
animation-fill-mode: forwards;
//-webkit-animation-name:side-pan;
//-webkit-animation-duration:45s;
//-webkit-animation-iteration-count:infinite;
}

/***************************** LOGIN CONTAINER ****************************/

.login-panel {
  position:absolute;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  z-index:100;
  overflow:hidden;
  background:#333;
}


.login-left-panel {
position:absolute;
top:0;
left:0;
height:100%;
width:50%;
color:white;
box-sizing:border-box;
font-family:open_sanslight;
font-size:40px;
text-align:center;
z-index:10;
}


.login-right-panel {
  position:absolute;
  top:0;
  right:0;
  height:100%;
  width:50%;
background-color:white;
box-sizing:border-box;
font-family:open_sanslight;
font-size:40px;
text-align:center;
}

.login-flex-panel {
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:absolute;
  background:#3e3e3e;
  overflow:auto;
}

.input-flex {
   width:100%;
   height:30px;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   margin-bottom: 20px;
 }

.input-flex .label {
    order:1;
    margin-right:10px;
    height:30px;
    line-height: 30px;
    text-align: left;
       width:90px;
    color:#aaa;
    font-family: open_sanslight;
    letter-spacing: normal;
          font-size:16px;
  }

  .input-flex input[type="text"],.input-flex input[type="password"],.input-flex input[type="email"]{
  order:2;
  flex-grow: 1;
  height:30px;
      line-height:1;
  -webkit-appearance:none;
  border:none;
  background-color:rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding-left:20px;
  color:white;
  font-size:14px;
  font-family: open_sanslight;
      border-radius:0px;
}

.input-flex .input {
    order:2;
    flex-grow: 1;
    height:30px;
    line-height: 30px;
}



.login-button {
 padding: 0 10px;
 box-sizing: border-box;
 height:30px;
 line-height: normal;
 text-align: center;
 background:#E87E04;
 cursor: pointer;
 border:none;
 border-radius:3px;
 color:white;
 font-family: open_sanssemibold;
 width:300px;
 text-transform:uppercase;
 letter-spacing:2px;
 font-size: 12px;
   -webkit-appearance:none;
 }

 .forgot-pass-button {
 padding: 0 10px;
 box-sizing: border-box;
 height:30px;
 line-height: 30px;
 text-align: center;
 background:transparent;
 border:1px solid white;
 border-radius:3px;
 letter-spacing:2px;
 text-transform:uppercase;
 cursor: pointer;
 color:white;
 font-family: open_sanssemibold;
width:300px;
font-size:12px;

 }




#loginManager_Form input[type="button"] {
-webkit-appearance: none;
width:200px;
border-radius:0px;
height:40px;
color:#2b2b2b;
border:1px solid #2b2b2b;
box-sizing:border-box;
background:transparent;
font-size:16px;
margin-left:10px;
font-family:open_sanslight;
}


#editRegistrant_Form input[type="button"] {
-webkit-appearance: none;
width:200px;
border-radius:0px;
height:40px;
color:#2b2b2b;
border:1px solid #2b2b2b;
box-sizing:border-box;
background:transparent;
font-size:16px;
margin-top:20px;
font-family:open_sanslight;
}



.background-image {
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
z-index:1;
overflow:hidden;
background-size:cover;
background-repeat:no-repeat;
background-position:center center;
-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}



.left-menu-bar .offline-bar {
  position:absolute;
top:0;
left:0px;
width:100%;
height:40px;
line-height:40px;
  background:orange;
display:none;
text-align:center;
color:white;
font-family:open_sanssemibold;
letter-spacing:3px;
}



#profile-picture-edit-button {
margin-left:auto;
margin-right:auto;
width:200px;
height:30px;
color:white;
line-height:30px;
text-align:center;
background-color:rgb(239,164,79);
cursor:pointer;
}

#profile-name {
width:100px;
height:20px;
color:white;
font-size:14px;
position:absolute;
white-space:nowrap;
text-overflow:ellipsis;
top:45px;
left:100px;
}

#profile-view {
width:100px;
height:20px;
color:#ddd;
font-size:12px;
position:absolute;
cursor:pointer;

top:65px;
left:100px;
}

.profile-image-container, .profile-image-container2  {
background-repeat:no-repeat;background-size:cover;background-position:top center;
}



/***************************** LOGIN PANEL ****************************/


.login-box {
text-align:center;
font-size:14px;
height:350px;
width:350px;
background:white;
margin-left:auto;
margin-right:auto;
color:rgb(182,178,174);
}

/***************************** SUB CONTAINER ****************************/




.team-prop-tag {
display: inline-block;
height:16px;
line-height: 16px;
padding:0 5px;
font-size:10px;
margin-right:5px;
vertical-align:middle;
color:white;
border-radius: 3px;
position: relative;
top:-1px;

}

.property-item {
position:relative;
width:100%;
height:120px;
margin-right:5px;
margin-top:2px;
overflow:visible;
background:white;
}

.property-image {
width:225px;
height:120px;
position:relative;
background-position:center center;
background-repeat:none;
background-size:cover;
background-color:#ddd;
overflow:hidden;
cursor:pointer;

}

/* .property-btns {
  width:120px;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  box-sizing:border-box;
  display:flex;
  -webkit-flex-direction:column;
  padding-left:10px;
  padding-bottom:10px;
  justify-content:flex-end;

} */


.property-info {
position:absolute;
top:0px;
left:225px;
width:400px;
height:120px;
padding:15px;
box-sizing:border-box;
overflow:wrap;
text-align:left;

}

.property-title {
font-size:18px;
height:24px;
line-height: 24px;
color:#2b2b2b;
font-family:open_sansregular;

}

.property-address {
width:100%;
margin-top:5px;
padding-top:5px;
color:black;
border-top:1px solid rgba(0,0,0,0.25);
font-size:16px;
}

.property-lastedited {
position: absolute;
bottom:0px;
left:0px;
width:100%;
font-size:12px;
color:#eee;
background-color: rgba(0,0,0,0.5);
height:20px;
line-height: 20px;
box-sizing: border-box;
padding-left:5px;
}

.property-session-timer {
position: absolute;
bottom:0px;
left:0px;
width:100%;
font-size:12px;
color:white;
background-color: orange;
height:20px;
line-height: 20px;
box-sizing: border-box;
padding-left:5px;
z-index:10;
display: none;
}

.property-btns {
margin-top:15px;
height:20px;
width:100%;
display: flex;
flex-direction: row;
justify-content: flex-start;
}

.free {
  display:none;
}

.property-manage-bar {
position:absolute;
top:0;
right:-600px;
background:white;
z-index:20;
height:120px;
width:720px;
-webkit-transition:all 0.25s ease-in;
overflow:hidden;
}

.property-manage-bar.collapsed {
width:120px;
}

.property-manage-bar.collapsed {
width:120px;
}

.property-manage-button {
position:absolute;
top:0px;
left:0px;
background:rgba(163,114,87,1);
width:120px;
height:120px;
line-height:120px;
color:white;
font-size:20px;
text-align:center;
box-sizing:border-box;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.property-launch-form-button {
position:absolute;
top:0px;
left:120px;
background:rgba(163,114,87,0.85);
width:120px;
height:120px;
color:white;
font-size:14px;
font-family:open_sanslight;
text-align:center;
line-height:1.1;
box-sizing:border-box;
padding-top:40px;
cursor: pointer;

}

.property-launch-form-button span, .property-edit-form-button span, .property-info span ,.property-details-button span, .property-broadcast-button span ,.property-view-registrants-button span  {
display: inline-block;
vertical-align: middle;
line-height: normal;

}

.property-edit-form-button {
position:absolute;
top:0px;
left:240px;
background:rgba(163,114,87,0.75);
width:120px;
height:120px;
color:white;
font-size:14px;
font-family:open_sanslight;
text-align:center;
line-height:1.1;
box-sizing:border-box;
padding-top:40px;
cursor: pointer;

}

.property-details-button {
position:absolute;
top:0px;
left:360px;
background:rgba(163,114,87,0.85);
width:120px;
height:120px;
color:white;
font-size:14px;
font-family:open_sanslight;
text-align:center;
line-height:1.1;
box-sizing:border-box;
padding-top:40px;
cursor: pointer;

}

.property-broadcast-button {
position:absolute;
top:0px;
left:480px;
background:rgba(163,114,87,0.85);
width:120px;
height:120px;
color:white;
font-size:14px;
font-family:open_sanslight;
text-align:center;
line-height:1.1;
box-sizing:border-box;
padding-top:40px;
cursor: pointer;

}


.property-view-registrants-button {
position:absolute;
top:0px;
left:600px;
background:rgba(163,114,87,0.85);
width:120px;
height:120px;
color:white;
font-size:14px;
font-family:open_sanslight;
text-align:center;
line-height:1.1;
box-sizing:border-box;
padding-top:40px;
cursor: pointer;

}

.add-property-panel {
  position:absolute;
  top:0px;
  right:0px;
  width:50%;
  height:100%;
  border-left:1px solid #ddd;
  box-sizing:border-box;
  background:white;
}

.search-property-panel {
  position:absolute;
  top:0px;
  left:0px;
  width:50%;
  height:100%;
  box-sizing:border-box;
  background:white;
}


/***************************** SUB CONTAINER ****************************/

.sub-container {
display:none;
position:absolute;
top:40px;
left:0px;
width:100%;
height:calc(100% - 40px);
overflow:hidden;
background:#eee;
}

.sub-container-title-bar {
position:absolute;
top:0px;
left:0px;
width:100%;
height:80px;
font-size:20px;
font-family:open_sanssemibold;
color:#333;
box-sizing:border-box;
padding:0px 20px;
line-height:80px;
border-bottom:1px solid #ddd;
}

.sub-container-filter-bar {
position:absolute;
top:80px;
left:0px;
width:100%;
height:44px;
font-size:16px;
box-sizing:border-box;
line-height:44px;
border-bottom:1px solid #ddd;
z-index:50;
background-color:#eee;
}

.sub-container-filter-tab {
width:100px;
text-align:center;
height:100%;
line-height:44px;
color:#666;
border-right:1px solid #ddd;
position:absolute;
top:0px;
z-index:10;
}

.sub-container-filter-back {
width:100px;
text-align:center;
height:100%;
line-height:44px;
color:#666;
border-right:1px solid #ddd;
position:absolute;
top:0px;
left:0px;
z-index:5;
-webkit-transition:left 0.5s ease;
box-sizing:border-box;
}

.sub-container-scroll {
position:absolute;
top:80px;
left:0px;
width:100%;
padding-right:45px;
height:calc(100vh - 120px);
overflow:auto;
box-sizing:border-box;
padding:20px;
-webkit-overflow-scrolling:touch;
}


/***************************** POP UP PANEL ****************************/

.popup-box {
position:absolute;
width:50%;
height:100%;
background:white;
top:0px;
right:0px;
z-index:400;
  display:none;
}

.popup-box-2 {
position:absolute;
width:50%;
height:100%;
background:white;
top:0px;
left:0px;
box-sizing:border-box;
border-right:1px solid #ddd;
z-index:500;
  display:none;
}

.popup-box-3 {
position:absolute;
width:100%;
height:100%;
background:white;
top:0px;
left:0px;
box-sizing:border-box;
border-right:1px solid #ddd;
z-index:510;
display:none;
}

.popup-scroll {
overflow-y:auto;
overflow-x:hidden;
padding-top:20px;
padding-left:20px;
padding-right:65px;
box-sizing:border-box;
padding-bottom:60px;
  height:calc(100vh - 160px);

}

.popup-box-title {
width:100%;
background:white;
padding-left:20px;
padding-right:20px;
padding-top:32px;
box-sizing:border-box;
color:black;
border-bottom:1px solid #ddd;
font-size:20px;
font-family:open_sanslight;
line-height:14px;
}

.popup-box-subtitle {
height:40px;
width:inherit;
line-height:16px;
padding:14px 20px;
box-sizing:border-box;
font-size:16px;
background:#eee;
color:black;

}

.popup-box-content {
width:100%;
overflow:auto;
-webkit-overflow-scrolling:touch;
padding:20px;
box-sizing:border-box;
font-size:14px;
}

.openhouse-scheduler, .edit-scheduler {
margin: 10px;
height: calc(100% - 20px);
width: calc(100% - 20px);
background: white;
position: relative;
}

.openhouse-scheduled {
width:100%;
height:40px;
line-height: 40px;
box-sizing: border-box;
padding-left:20px;
border-bottom:1px solid #eee;

}

.openhouse-restricted {
width:100%;
line-height: 1.4;
box-sizing: border-box;
padding:20px;
border-bottom:1px solid #eee;
}

.openhouse-scheduled .delete-openhouse{
width:40px;
height:40px;
line-height: 40px;
cursor: pointer;
float:right;
border-left: 1px solid #eee;
text-align: center;

}

.openhouse-scheduled .edit-openhouse{
width:40px;
height:40px;
line-height: 40px;
cursor: pointer;
float:right;
border-left: 1px solid #eee;
text-align: center;

}

.openhouse-scheduler-overlay, .edit-scheduler-overlay  {
display: none;
background: rgba(0,0,0,0.7);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



.panel-subtitle {
margin-bottom:15px;
font-size:18px;
font-family:open_sanssemibold;
line-height:1.4px;
}





.seperator {
height:1px;
width:100%;
border-bottom:1px solid #ccc;
margin-top:20px;
margin-bottom:0px;
position:relative;
}



select.honorifics {
position:absolute;
left:0px;
top:-5px;
-webkit-appearance:none;
border:1px solid #ddd;
padding:0px 20px 0px 10px;
font-size:14px;
border-radius:0px;
height:30px;
width:65px;
margin-top:10px;
background: url(assets/images/arrow_down.png) no-repeat right center;
background-size:20px 20px;

}

.add-button {
position:relative;
top:-2px;
display:inline-block;
height:30px;
width:30px;
line-height:30px;
color:white;
font-size:20px;
text-align:center;
vertical-align:middle;
background:black;
}

.remove-button {
position:relative;
top:-2px;
display:inline-block;
height:30px;
width:30px;
line-height:30px;
font-size:20px;
color:white;
text-align:center;
vertical-align:middle;
background:#999;

}

.save-button {
display:inline-block;
margin-right:10px;
position:relative;
height:40px;
width:200px;
line-height:40px;
font-size:16px;
color:#2b2b2b;
text-align:center;
vertical-align:middle;
border:1px solid #2b2b2b;
font-family:open_sanslight;

}

.delete-button {
position:relative;
top:-1px;
display:inline-block;
margin-right:10px;
position:relative;
height:38px;
width:200px;
line-height:38px;
font-size:16px;
color:#2b2b2b;
text-align:center;
vertical-align:middle;
border:1px solid #2b2b2b;
font-family:open_sanslight;

}

.edit-icon {
width:30px;
height:30px;
position:absolute;
top:1px;
left:1px;
background-color:rgba(255,255,255,0.90);
background-image:url(assets/images/icon_edit.png);
background-size:cover;
background-repeat:none;
}




#editRegistrant_Form .label,#editProperty_Form .label {
width:100%;
text-align:left;
color:#2b2b2b;
padding:0;
font-size:16px;
border-radius:0px;
  font-family:open_sanssemibold;
}

#reg-form-scroll {
-webkit-overflow-scrolling:touch;
}







.check-box-label-custom {
display:inline-block;
width:178px;
margin-left:3px;
}

.checkbox-label {
font-size:18px;
}

.checkbox-label2 {
font-size:14px;
}

.leads-list-button {
position:absolute;
bottom:5px;
left:15px;
z-index:100;
width:30px;
height:30px;
background-image:url(assets/images/icon_leads_list.png);
background-size:cover;
background-repeat:no-repeat;
}

/***************************** SIGN IN FORM ****************************/

#propertyReg_Form .form-title-section {
  position:absolute;
  top:0px;
  left:0;
  width:100%;
  height:80px;
  line-height:80px;
  font-size:24px;
  text-align:left;
  box-sizing:border-box;
  padding-left:30px;
  padding-right:30px;
  border-bottom:1px solid #eee;
}

#propertyReg_Form .signin-button {
  -webkit-appearance:none;
  position:absolute;
  top:18px;
  right:30px;
  height:44px;

  background-color:#2b2b2b;
  color:white;
  padding:0px 15px;
  font-size:16px;
font-family:open_sanslight;
 -webkit-user-select: none;
   z-index:10;
   border-radius:0px;
}


#propertyReg_Form .signin-form-content {
 width:100%;
 padding-bottom:50px;
 box-sizing:border-box;
 position:absolute;
 top:80px;
 height:calc(100vh - 160px);
 left:0px;
 overflow-y:scroll;
 overflow-x:hidden;
}

#propertyReg_Form .small {
  font-size: 14px!important;
}

#propertyReg_Form .regular {
  font-size: 16px!important;
}

#propertyReg_Form .large {
  font-size: 18px!important;
}


.form-questions textarea {
  width:100%;
  height:120px;
  background:transparent;
  margin-top:0px;
  box-sizing:border-box;
  padding:20px;
  font-size:16px;
  border-bottom:1px solid #eeeeee;
  border-radius:0px;
  -webkit-appearance:none;
  font-family:open_sanslight;
  text-align:left;
}




/***************************** LISTINGS SEARCH RESULTS ****************************/

.listing-result {
  width:100%;
  height:80px;
  margin-bottom:1px;
  position:relative;
  background:#f2f2f2;
}

.listing-result .listing-image {
  position:absolute;
  top:0;
  left:0px;
  width:80px;
  height:80px;
  z-index: 10;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-color: rgba(0,0,0,0.1);

}

.listing-result .loading-image {
  position:absolute;
  top:0;
  left:0px;
  width:80px;
  height:80px;
  z-index: 5;
  background-repeat:no-repeat;
  background-size:cover;
  background-image:url(assets/images/loading_graphic.gif);
  background-position:center;
}

.listing-result .listing-info {
  position:absolute;
  top:0;
  left:80px;
  width:calc(100% - 80px);
  height:80px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  box-sizing:border-box;
  padding:10px;

}

.listing-result .listing-address {
 width:calc(100% - 80px);
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 height:30px;
 line-height:30px;
 border-bottom:1px solid #ccc;
 font-size:18px;
}

.listing-result .listing-agent{
 width:calc(100% - 80px);
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 height:30px;
 line-height:30px;
 font-size:16px;

}




/***************************** BROADCAST PANEL ****************************/

/*.broadcast-content-box {*/
/*    display:flex;*/
/*    flex-direction:row;*/
/*    height:calc(100% - 80px);*/
/*    width:100%;*/
/*    overflow:hidden;*/
/*}*/
/**/
/*.broadcast-content-box .left {*/
/*    order:1;*/
/*    width:50%;*/
/*    height:100%;*/
/*}*/

/*.broadcast-content-box .left .filter-bar{*/
/*    height:44px;*/
/*    width:100%;*/
/*    background-color:#eee;*/
/**/
/*}*/



.broadcast-content-box .right {
order:2;
width:50%;
height:100%;
box-sizing:border-box;
border-left:1px solid #eee;
padding:20px;

}

.broadcast-content-box .right .filter-box{
display:flex;
flex-direction:row;
height:30px;
line-height:30px;
margin-bottom:10px;
}

.broadcast-content-box .right .filter-box .label{
order:1;
flex-grow:0;
flex-shrink:0;
flex-basis:130px;
}

.broadcast-content-box .right .filter-box input{
order:2;
flex-grow:1;
margin-left:10px;
-webkit-appearance:none;
border:none;
  border-radius:0px;
background:#eee;
height:30px;
font-size:16px;
font-family:open_sanslight;
box-sizing:border-box;
padding-left:10px;
}

.broadcast-content-box .right .filter-box select{
order:2;
flex-grow:1;
margin-left:10px;
-webkit-appearance:none;
border:none;
background:#eee;
background-image:url(assets/images/arrow_down.png);
background-size:30px 30px;
background-position:right center;
background-repeat:no-repeat;
margin-top:0px;
font-size:16px;
font-family:open_sanslight;

}

/***************************** ADD REGISTRANT POPUP ****************************/

.add-registrant-overlay {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.5);
  display: none;
  z-index: 1000;
  padding:20px;
  border-box:box-sizing;
  box-sizing:border-box;
}

.add-registrant-panel {

  width:100%;
  height:100%;
  background-color: white;

}

.add-registrant-panel-title {

  width:100%;
  height:80px;
  line-height:80px;
  padding-top:0px;
  padding-left:20px;
  padding-right:20px;
  box-sizing:border-box;
  color:black;
  border-bottom:1px solid #ddd;
  font-size:20px;
  font-family:proxima_nova_light;
}

.add-registrant-panel-body {

  width:100%;
  height:calc(100% - 80px);
  display: flex;
  flex-direction: row;
}

.add-registrant-left-panel {
  flex-grow:1;
  width:50%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  border-right:1px solid #eee;
}

.add-registrant-right-panel {
  flex-grow:1;
  width:50%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.add-registrant-question-row {
  font-size:16px;
  text-align:left;
}


.add-registrant-question-row input[type="text"]{
height:40px;
text-align: left;
line-height: 40px;
font-family: open_sanslight;
box-sizing: border-box;
padding:0 20px;
padding-right:40px;
background-repeat: no-repeat;
background-size:40px 40px;
background-position: right center;
background-image: url(assets/images/edit_grey.png);
-webkit-appearance: none;
border:none;
margin:0;
font-size:14px;
width:100%;
border-bottom: 1px solid #f2f2f2;

}

.full-width-checkboxes {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;

}

.half-width-checkboxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;


}

.full-width-checkboxes .checkbox{
  width: 100%;
  box-sizing: border-box;
  padding-left:20px;
  height: 30px;
  line-height: 30px;

}

.half-width-checkboxes .checkbox{
  flex-grow: 1;
  box-sizing: border-box;
  padding-left:20px;
  height: 30px;
  line-height: 30px;

}


.add-registrant-question-row [type="radio"]:checked,
.add-registrant-question-row [type="radio"]:not(:checked),
.visitor-info-question-row [type="radio"]:checked,
.visitor-info-question-row [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
      visibility: hidden;
}
.add-registrant-question-row [type="radio"]:checked + label,
.add-registrant-question-row [type="radio"]:not(:checked) + label,
.visitor-info-question-row [type="radio"]:checked + label,
.visitor-info-question-row [type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 30px;
  display: inline-block;
  color: #666;
      height:30px;
}
.add-registrant-question-row [type="radio"]:checked + label:before,
.add-registrant-question-row [type="radio"]:not(:checked) + label:before,
.visitor-info-question-row [type="radio"]:checked + label:before,
.visitor-info-question-row [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 100%;
  background: #fff;
}
.add-registrant-question-row [type="radio"]:checked + label:after,
.add-registrant-question-row [type="radio"]:not(:checked) + label:after,
.visitor-info-question-row [type="radio"]:checked + label:after,
.visitor-info-question-row [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #333;
  position: absolute;
  top: 9px;
  left: 5px;
  border-radius: 100%;

}
.add-registrant-question-row [type="radio"]:not(:checked) + label:after,
.visitor-info-question-row [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.add-registrant-question-row [type="radio"]:checked + label:after,
.visitor-info-question-row [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.extra-permission-row {
  width:100%;
  box-sizing: border-box;
  padding:10px 20px;
  line-height: 1.2;
  margin-top:10px;
  display:none;
  text-align:left;
  font-size:16px;

}

/***************************** VIEW REGISTRANT POPUP ****************************/

.registrant-title-row {
width:100%;
height:44px;
text-align:left;
border-bottom:1px solid white;
border-top:1px solid white;
background:white;
}
.registrant-row {
width:100%;
height:60px;
margin-bottom:1px;
text-align:left;
font-size:16px;

}

.registrant-row {
cursor:pointer;
}

.registrant-name, .registrant-email, .registrant-phone, .registrant-company {
width:150px;
background:#f1f1f1;
height:60px;
color:black;
line-height:60px;
box-sizing:border-box;
padding:0px 10px;
float:left;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
border-left:1px solid white;
  position:relative;
}

.registrant-name {
padding:0px 0px;
}

.registrant-pphoto {
float:left;
width:60px;
height:60px;
background-size:cover;
background-repeat:no-repeat;
background-position:center;
margin-right:10px;
margin-left:0px;

}

.registrant-pphoto-large {
float:left;
width:60px;
height:60px;
background-size:cover;
background-repeat:no-repeat;
background-position:center;
margin-right:10px;
margin-left:0px;
border:1px solid #eee;
box-sizing:border-box;
}



.registrant-detail-btn {
width:100px;
margin-left:3px;
margin-top:2px;
background:white;
height:56px;
color:#2b2b2b;
line-height:56px;
box-sizing:border-box;
border:1px solid #2b2b2b;
padding:0px 10px;
float:left;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
font-size:14px;
text-align:center;

}



.registrant-name-title, .registrant-email-title, .registrant-phone-title,.registrant-company-title {
width:150px;
background:#ddd;
height:44px;
color:#2b2b2b;
line-height:44px;
box-sizing:border-box;
border-left:1px solid white;
padding:0px 10px;
float:left;
background-image:url(assets/images/arrow_down.png);
background-position:right;
background-size:20px 20px;
background-repeat:no-repeat;
font-size:14px;
}

/***************************** PREVIEW PANEL ****************************/

.preview-panel {
background:white;
display:none;
z-index:500;
overflow:hidden;
}

.iphone-box {
position:absolute;
width:600px;
height:828px;
background:white;
background-image:url(assets/images/iphone5_white.jpg);
background-repeat:no-repeat;
background-size:cover;
}

.iphone-screen {
width:320px;
height:568px;
background:white;
position:absolute;
top:129px;
left:142px;
overflow:auto;
}



/***************************** PASSCODE PANEL ****************************/

.passcode-panel {
position:absolute;
top:0;
left:0;
z-index:999;
display:none;
background:rgba(0,0,0,0.75);
}

.passcode-button {
  display:inline-block;
  height:40px;
  line-height:40px;
  text-align:center;
  width:120px;
  border:1px solid white;
  background:white;
  color:black;
  font-size:18px;
  margin-right:10px;
}

#passcode::placeholder {
  font-size:40px;
  letter-spacing:10px;
}


/***************************** ALERT BOX ****************************/

.alert-overlay .alert-box {
width:400px;
min-height:100px;
background:white;
vertical-align:middle;
margin-left:auto;
margin-right:auto;
}

.alert-overlay .alert-title {
color:#2b2b2b;
font-size:18px;
font-family:open_sanslight;
}

.alert-overlay .alert-message {
color: rgb(106,98,90);
font-size:16px;
font-family:open_sanslight;
margin-top:10px;
}

.alert-overlay .alert-content {
width:400px;
min-height:100px;

padding:20px;
box-sizing:border-box;
}

.alert-overlay .alert-buttons {
width:100%;
height:40px;
text-align:center;
background:white;

}

.alert-overlay .alert-button-1 {
width:200px;
height:40px;
line-height:40px;
cursor:pointer;
color:white;
float:left;
background:#2b2b2b;
text-align:center;
}

.alert-overlay .alert-button-2 {
width:200px;
height:40px;
line-height:40px;
cursor:pointer;
color:white;
float:right;
background:#CB8B64;
text-align:center;
}



/***************************** PROFILE PANEL ****************************/

.profile-item {
width:100%;
height:80px;
background:white;
margin-right:5px;
margin-bottom:5px;
display:inline-block;
box-sizing:border-box;
padding:20px;
vertical-align:top;

}

#editRegistrant_Form input[type="text"],#editRegistrant_Form input[type="email"],#editRegistrant_Form input[type="number"],
#editRegistrant_Form input[type="tel"]
{
-webkit-appearance: none;
width:100%;
border-bottom:1px solid #ddd;
border-radius:0px;
height:40px;
line-height:20px;
font-size:16px;
color:black;
margin-bottom:15px;
margin-top:0px;
font-family:open_sanslight;
display:block;

}



#editRegistrant_Form input[type="submit"] {
-webkit-appearance: none;
float:left;
margin-right:20px;
margin-top:20px;
width:200px;
border-radius:0px;
height:40px;
color:#2b2b2b;
border:1px solid #2b2b2b;
box-sizing:border-box;
background:transparent;
font-size:16px;
font-family:open_sanslight;
 -webkit-user-select: none;
}

/***************************** HELP PANEL ****************************/

.help-row {
width:100%;
box-sizing:border-box;
background:white;
margin-bottom:5px;
}

.help-row-title {
position:relative;
width:100%;
box-sizing:border-box;
padding:0px 20px;
height:60px;
line-height:60px;
color:black;
cursor:pointer;
font-family:open_sanslight;

}

.help-row-content {
position:relative;
width:100%;
box-sizing:border-box;
padding:20px 20px;
color:black;
display:none;
line-height:16px;
}

.help-arrow {
width:40px;
height:40px;
background-repeat:no-repeat;
background-size:cover;
background-image:url(assets/images/arrow_down.png);
position:absolute;
top:10px;
right:10px;
}

/***************************** EMAIL TEMPLATES PANEL ****************************/

.template-selector {

  width:500px;
  height:40px;
  line-height:40px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}

.template-selector .selector-label {
  order:1;
  flex-basis:160px;
  flex-grow:0;
  flex-shrink:0;
  padding-left:20px;
  color:#333;
}

.template-selector select {
  order:2;
  flex-grow:1;
  padding-left:20px;
  box-sizing:border-box;
  background-color:rgba(255,255,255,0.5)!important;
  border:none!important;
  height:40px;
  margin:0!important;
}
.emails-tabs {

position:absolute;
top:80px;
left:0px;
height:40px;
width:100%;
background:transparent;
}

.emails-tab.selected {
float:left;
height:40px;
background:white;
padding-left:10px;
padding-right:10px;
line-height:40px;
color:#2b2b2b;
width:200px;
box-sizing:border-box;

}

.emails-tab.unselected {
float:left;
height:40px;
padding-left:10px;
padding-right:10px;
line-height:40px;
background:transparent;
color:#666;
border-right:1px solid #ddd;
cursor:pointer;
width:200px;
box-sizing:border-box;
}



.emails-tab-content {
position:absolute;
top:120px;
left:0px;
width:100%;
min-height:200px;
background:white;
box-sizing:border-box;
padding-top:20px;
padding-left:20px;
padding-bottom:20px;
padding-right:45px;
overflow-y:scroll;
overflow-x:hidden;
-webkit-overflow-scrolling:touch;
}

.emails-tab-panel {
width:100%;
position:absolute;
top:0px;
left:0px;
box-sizing:border-box;
padding:20px;

}

.emails-tab-title {
font-size:20px;
color:#666;
}

.emails-tab-caption {
margin-top:5px;
font-size:16px;
color:#999;
}

.email-tab-subtitle {
font-size:18px;
color:#666;
}


.save-email-button, .reset-email-button, .send-test-button {
float:right;
height:30px;
padding:0px 10px;
font-size:14px;
margin-top:20px;
border:1px solid #2b2b2b;
line-height:30px;
background:transparent;
font-family:open_sanslight;
color:#2b2b2b;
border-radius:0px;
}




/***************************** ACCOUNTS PANEL ****************************/


.integration-type-selection {
height:40px;
width:100%;
box-sizing:border-box;
padding-left:20px;
}
.integration-tab.selected {
float:left;
height:40px;
background:#ccc;
padding-left:10px;
padding-right:10px;
line-height:40px;
color:#2b2b2b;
width:50px;
text-align:center;
border-right:1px solid #eee;
}

.integration-tab.unselected {
float:left;
height:40px;
padding-left:10px;
padding-right:10px;
line-height:40px;
background:transparent;
color:#666;
cursor:pointer;
width:50px;
text-align:center;
border-right:1px solid #eee;

}

.integration-row {
width:100%;
height:50px;
line-height:50px;
display:flex;
flex-direction:row;
justify-content:felx-start;
align-items:center;
border-bottom:1px solid #ddd;
}

.integration-name {
order:1;
flex-grow:1;
height:50px;
line-height:50px;
box-sizing:border-box;
padding-left:20px;
background-image:url(assets/images/arrow_down.png);
background-repeat:no-repeat;
background-position:center right;
background-size:30px 30px;
}

.integration-info {
order:2;
width:50px;
height:50px;
background-image:url(assets/images/info_icon.png);
background-size:14px 14px;
background-repeat:no-repeat;
background-position:center center;
border-left:1px solid #ddd;
}

.integration-desc {
box-sizing:border-box;
padding:20px;
background:#eee;
display:none;
}

.integration-content {
box-sizing:border-box;
padding:20px;
background:white;
border-bottom:1px solid #eee;
display:none;

}



.account-tab-content {
position:absolute;
top:120px;
left:0px;
width:100%;
min-height:200px;
background:white;
box-sizing:border-box;
padding-top:20px;
padding-left:20px;
padding-bottom:20px;
padding-right:45px;
overflow-y:scroll;
overflow-x:hidden;
-webkit-overflow-scrolling:touch;
}



.account-tab-title {
font-size:20px;
color:#666;
}

.account-tab-caption {
margin-top:5px;
font-size:16px;
color:#999;
}

.integration-desc .account-tab-caption{
color:#333;
}

.account-tab-subtitle {
font-size:18px;
color:#666;
}

.account-label {
display:inline-block;
width:300px;
height:30px;
font-size:16px;
color:#999;
line-height:30px;
}

.account-input-subtitle {
display:inline-block;
width:400px;
margin-left:200px;
font-size:16px;
color:#666;
}

.account-label2 {
display:inline-block;
width:450px;
height:30px;
font-size:16px;
color:black;
line-height:30px;
vertical-align:top;
overflow:hidden;
text-overflow: ellipsis;
}

.account-button {
display:inline-block;
height:30px;
width:150px;
padding:0px 10px;
font-size:14px;
margin-right:20px;
border:1px solid #2b2b2b;
line-height:30px;
background:transparent;
font-family:open_sanslight;
text-align:center;
cursor:pointer;
}

.account-input {
width:250px;
border-bottom:1px solid #ddd;
border-radius:0px;
height:30px;
line-height:20px;
font-size:16px;
color:black;
margin-bottom:10px;
font-family:open_sanslight;
}

.integration-content .account-input {
width:400px;
}



/***************************** QUESTIONS ****************************/


.add-question-button-2 {
height:30px;
line-height:30px;
text-align:center;
width:240px;
font-size:14px;
margin-top:15px;
border:1px solid #2b2b2b;
line-height:30px;
background:transparent;
font-family:open_sanslight;
color:#2b2b2b;
border-radius:0px;
}

.create-custom-question-button {
height:30px;
line-height:30px;
text-align:center;
width:230px;
font-size:14px;
margin-top:10px;
border:1px solid #2b2b2b;
line-height:30px;
background:transparent;
font-family:open_sanslight;
color:#2b2b2b;
border-radius:0px;
display:inline-block;
}

.reset-custom-question-button {
height:30px;
line-height:30px;
text-align:center;
width:230px;
font-size:14px;
margin-top:10px;
border:1px solid #2b2b2b;
line-height:30px;
background:transparent;
font-family:open_sanslight;
color:#2b2b2b;
border-radius:0px;
display:inline-block;
}





.question-block {
box-sizing:border-box;
padding:20px;
background-color:#eee;
width:calc(100%);
min-height:40px;
position:relative;
margin-bottom:10px;
padding-right:50px;
}

.custom-question-block {
box-sizing:border-box;
padding:10px;
background-color:#eee;
width:calc(100%);
min-height:80px;
position:relative;
margin-bottom:10px;
padding-right:50px;
}





.mc-choice {
width:calc(45% - 10px);
margin-right:10px;
display:inline-block;
margin-bottom:5px;
}

.mc-choice input[type="radio"] {
margin-right:5px;

}

.yn-choice {
width:100px;
margin-right:10px;
display:inline-block;
}

.yn-choice input[type="radio"] {
margin-right:5px;

}

.disabled-radio {
display:inline-block;
vertical-align:top;
width:15px;
height:15px;
background:white;
border-radius:15px;
margin-right:5px;
}


.disabled-text {

height:30px;
width:100%;
border-bottom:1px solid #ccc;

}

/***************************** VISITOR DETAILS ****************************/
#popup-view-registrant .panel-top-bar{
position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height:90px;
  color: white;
  box-sizing: border-box;
  border-bottom:1px solid #666;
 }



 #popup-view-registrant .panel-scroll-container  {
   width:100%;
height:calc(100% - 90px);
position: absolute;
top:90px;
left:0px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
box-sizing: border-box;

 }



.manage-visitor-left-panel {
  width:50%;
  height:calc(100vh - 90px);
  box-sizing: border-box;
  overflow: auto;
  border-right:1px solid #eee;
}

.manage-visitor-right-panel {
  width:50%;
height:calc(100vh - 90px);
  box-sizing: border-box;
  overflow-x: auto;
}

#manage-visitor-panel .label {
  width:100%;
  text-align:left;
  color:#2b2b2b;
  padding:0;
  font-size:14px;
  border-radius:0px;
  font-family:open_sanssemibold;
}

.visitor-info-subtitle {
border-bottom:1px solid #eee;
height:40px;
font-size:16px;
font-family:open_sanssemibold;
letter-spacing: 3px;
box-sizing: border-box;
line-height: 40px;
padding-left:20px;
text-align: left;
}



.visitor-info-row {
height:50px;
width:100%;
border-bottom: 1px solid #ddd;
background:#f2f2f2;
display: flex;
flex-direction: row;
}

.visitor-info-row .info-icon {
order: 1;
flex-basis: 50px;
flex-grow: 0;
flex-shrink: 0;
height:100%;
text-align: center;
line-height: 50px;
border-right:1px solid #eee;
}

.visitor-info-row .info {
order: 2;
flex-grow: 0;
height:100%;
padding:5px;
box-sizing: border-box;
overflow: hidden;
}

.visitor-info-row .info div{
height:20px;
line-height: 20px;
}

.visitor-info-input-row {
height:40px;
width:100%;
border-bottom: 1px solid #f2f2f2;
display: flex;
flex-direction: row;
}

.visitor-info-input-row .input-label{
order: 1;
flex-basis: 125px;
flex-grow: 0;
flex-shrink: 0;
height:100%;
text-align: left;
line-height: 40px;
border-right:1px solid #eee;
font-family: open_sanssemibold;
box-sizing: border-box;
padding:0px;
padding-left:20px;
margin:0px;
font-size:16px;
}

#propertyReg_Form .visitor-info-input-row .input-label{
flex-basis: 150px;

}

.visitor-info-input-row input[type="text"],
.visitor-info-input-row input[type="email"],
.visitor-info-input-row input[type="tel"]{
order: 2;
flex-grow: 1;
height:100%;
text-align: left;
line-height: 40px;
font-family: open_sanslight;
box-sizing: border-box;
padding:0 20px;
padding-right:40px;
background-repeat: no-repeat;
background-size:40px 40px;
background-position: right center;
background-image: url(assets/images/edit_grey.png);
-webkit-appearance: none;
border:none;
margin:0;
font-size:14px;
}

.visitor-info-input-row textarea{
order: 2;
flex-grow: 1;
height:100%;
text-align: left;
font-family: open_sanslight;
box-sizing: border-box;
padding:12px 20px;
background-repeat: no-repeat;
background-size:40px 40px;
background-position: right top;
background-image: url(assets/images/edit_grey.png);
-webkit-appearance: none;
border:none;
margin:0;
font-size:14px;
}

.visitor-info-question-row {

}


.visitor-info-question-row input[type="text"]{
height:40px;
text-align: left;
line-height: 40px;
font-family: open_sanslight;
box-sizing: border-box;
padding:0 20px;
padding-right:40px;
background-repeat: no-repeat;
background-size:40px 40px;
background-position: right center;
background-image: url(assets/images/edit_grey.png);
-webkit-appearance: none;
border:none;
margin:0;
font-size:14px;
width:100%;
border-bottom: 1px solid #f2f2f2;

}

.visitor-info-question-row .answer{
height:40px;
text-align: left;
line-height: 40px;
font-family: open_sanslight;
box-sizing: border-box;
padding:0 20px;
padding-right:40px;
-webkit-appearance: none;
border:none;
margin:0;
font-size:14px;
width:100%;
border-bottom: 1px solid #f2f2f2;

}

.visitor-info-question-row label{
margin-right:20px;
margin-left:5px;
cursor: pointer;
}



/***************************** TLC INTEGRATION ****************************/


.tlc-container {
position:absolute;
top:0px;
left:0px;
height:100%;
width:100%;
overflow:hidden;
-webkit-transition:all 0.5s ease-in;
background:rgba(0,0,0,0.85);
z-index:9999;
display:none;

}

.tlc-desc-content {
width:350px;
height:140px;
margin-top:100px;
margin-left:auto;
margin-right:auto;
border-bottom:1px solid white;
color:white;
font-size:18px;

}

.tlc-breakdown-content {
width:350px;
height:300px;
margin-left:auto;
margin-right:auto;
margin-top:20px;
color:white;
font-size:18px;
}

.tlc-breakdown-column {
display:inline-block;
width:150px;
margin-right:22px;
margin-bottom:20px;
color:white;
vertical-align:top;
height:85px;
}


/***************************** FULL CONTACT ****************************/


.fc-social-profile {
height:40px;
line-height:40px;
border-bottom:1px solid #eee;
font-size:14px;
box-sizing: border-box;
padding-left:20px;
padding-right:60px;
cursor: pointer;
position: relative;
overflow: hidden;
text-overflow: ellipsis;
}

.fc-social-profile:hover {
background:#f2f2f2;
}

.fc-social-profile .view-button {
width:40px;
height:40px;
text-align: center;
line-height: 40px;
position: absolute;
right:0;
top:0;

}

/***************************** INTEGRATION STATUS ****************************/
.integration-name-row {
height:30px;
line-height: 34px;
font-size:14px;
box-sizing: border-box;
padding-left:20px;
padding-right:60px;
position: relative;
overflow: hidden;
text-overflow: ellipsis;
  font-family: open_sanssemibold;
  background: #f2f2f2;
}

.integration-status-row {
  height:40px;
  line-height:40px;
  background: #f2f2f2;
  border-bottom:1px solid #ddd;
  font-size:14px;
box-sizing: border-box;
padding-left:20px;
padding-right:60px;
position: relative;
overflow: hidden;
text-overflow: ellipsis;
}

.integration-status-row .view-button {
width:40px;
height:40px;
text-align: center;
line-height: 40px;
position: absolute;
right:0;
top:0;
  cursor: pointer;
  background:#f2f2f2;


}


/***************************** DOCS ****************************/
.docs-panel {
position:fixed;
top:0px;
right:0px;
width:100%;
height:100%;
background:rgba(0,0,0,0.95);
z-index:888888;
color:white;
display:none;
}

.docs-container {
width:768px;
height: 100vh;
overflow: auto;
margin:0 auto;
position: relative;
  -webkit-overflow-scrolling:touch;
}

.select-docs-panel {
background:transparent;
color:white;
padding:20px;
position: absolute;
top:0;
left:0;
width:100%;
display: none;
box-sizing: border-box;
min-height: 100vh;

}

.sign-doc-panel {
background:white;
position: absolute;
top:0;
left:0;
width:100%;
display: none;
box-sizing: border-box;
min-height: 100vh;
}

.doc-row {
  display:flex;
  flex-direction:row;
  text-align:left;
  width:100%;
  height:60px;
  color:white;
  position:relative;
  border-bottom:1px solid rgba(255,255,255,0.5);
  cursor: pointer;
}

.doc-row-2 {
  display:flex;
  flex-direction:row;
  text-align:left;
  width:100%;
  height:60px;
  color:black;
  position:relative;
  border-bottom:1px solid #eee;
  cursor: pointer;
}

.doc-row .icon,.doc-row-2 .icon {
  flex-basis:60px;
  flex-grow:0;
  flew-shrink:0;
  width:60px;
  height:60px;
  line-height:60px;
  font-size:24px;
  text-align:center;
  position:relative;
}

.doc-row .icon .completed, .doc-row-2 .icon .completed{
  width:20px;
  height:20px;
  line-height:20px;
  font-size:16px;
  display:none;
  color:#DDC757;
  position:absolute;
  top:10px;
  right:10px;
}

.doc-row .doc-name,.doc-row-2 .doc-name {
 flex-grow:1;
  height:60px;
  line-height:60px;
  font-size:16px;
  box-sizing:border-box;
  padding-left:20px;
}

.registration-done-button {
display:inline-block;
width:200px;
height:44px;
text-align:center;
background:white;
color:black;
font-size:20px;
line-height:44px;
cursor:pointer;

}

.doc-close-button {
  position:absolute;
  right:0px;
  top:0px;
  width:40px;
  height:40px;
  text-align:center;
  line-height:40px;
  color:white;
  display:none;
}

.doc-content {
position:relative;
}

#doc-inputs {
position:absolute;
  top:40px;
  left:0px;
}

#doc-status {
position:relative;
  height:40px;
  width:100%;
  line-height:40px;
  background:#eee;
  font-size:20px;
  text-align:center;
  color:black;
}

.doc-content input {
position:absolute;
z-index:10;
}

// .doc-content input[type="text"]  {
// border-radius:0px;
// border:1px solid :333;
// }

.sig {
z-index:10;
position:absolute;
background-size:contain;
background-repeat:no-repeat;
background-position:center center;
}

.sign-disclosure-button {
margin-left:5px;
width:240px;
height:60px;
line-height:60px;
background:#2f2f2f;
color:white;
font-size:20px;
text-align:center;
font-family:open_sanssemibold;
display:inline-block

}

.sign-disclosure-button-2 {
margin-left:5px;
width:240px;
height:60px;
line-height:60px;
background:transparent;
border:1px solid #2f2f2f;
color:#2f2f2f;
font-size:20px;
text-align:center;
font-family:open_sanssemibold;
display:inline-block

}

/***************************** SIGNATURE PANEL ****************************/

.see-rep-panel {
position:absolute;
top:0;
left:0;
z-index:99999;
display:none;
background:rgba(0,0,0,0.95);
font-family:open_sanssemibold;
font-size:30px;
text-align: center;
color:white;
cursor: pointer;
}

.signature-panel {
position:absolute;
top:0;
left:0;
z-index:99999;
display:none;
background:rgba(0,0,0,0.95);
font-family:open_sanssemibold;
}

.save-sig-button {
margin:20px auto;
width:200px;
height:44px;
text-align:center;
background:white;
color:black;
font-size:20px;
line-height:44px;

}

.clear-sig-button {
margin:20px auto;
width:200px;
height:44px;
text-align:center;
background:white;
color:black;
font-size:20px;
line-height:44px;
}



/***************************** DOCUSIGN ****************************/


.docusign-overlay {
  position:fixed;
top:0px;
right:0px;
width:100%;
height:100%;
background:rgba(0,0,0,0.85);
z-index:99999;
  color:white;
  display:none;

}

.docusign-button {
  position:absolute;
top:10px;
right:10px;
  height:40px;
  width:40px;
  background-size:contain;
  background-image:url(assets/images/docusign_arrow.png);
  background-repeat:no-repeat;
  background-position:center;
  display:none;

}

/***************************** DATEPICKER OVERIDE ****************************/

.comiseo-daterangepicker, .ui-widget, .ui-widget input {
font-family:open_sansregular!important;
}

.ui-datepicker-header {
border:none;
background:#666;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
color:#666;
}

.ui-corner-all {
border-radius:0px!important;
}

.ui-state-default .ui-icon {
  background-image: url(assets/images/arrow_down_grey.png);
background-repeat:no-repeat;
background-position:center center;
background-size:40px 40px;
}

/*.comiseo-daterangepicker-triggerbutton.ui-button {*/
/*  border:none;*/
/*  color:black;*/
/*  height:30px;*/
/*  line-height:30px;*/
/*  padding: 0px;*/
/*  margin:0px;*/
/*  min-width: 200px;*/
/*  width:100%;*/
/*    font-weight: normal;*/
/*    position:relative;*/
/*    font-size: 16px;*/
/* background-color:red;*/
/*}*/

.comiseo-daterangepicker-triggerbutton.ui-button {
height:40px;
line-height: 40px;
-webkit-appearance:none;
border:none;
box-sizing: border-box;
width:100%;
color:black;
font-size:16px;
font-family: open_sansregular;
margin:0;
}
